# ==========================================
# PONSPOT ENVIRONMENT CONFIGURATION
# ==========================================

# Port untuk Backend Server (Express + Socket.io)
PORT=4000

# Password untuk login ke Admin Panel (/kontol)
ADMIN_PASSWORD=GantiPasswordAdminIni!

# Alamat Smart Contract Token (VEAY / PONSPOT)
NEXT_PUBLIC_PONSPOT_TOKEN_ADDRESS=0xa3e7edb334ee9504407e4f615be53a2a0e678ad5
PONS_TOKEN_ADDRESS=0xa3e7edb334ee9504407e4f615be53a2a0e678ad5

# Alamat Smart Contract Game Jackpot (diisi setelah deploy contract di admin panel)
NEXT_PUBLIC_GAME_CONTRACT_ADDRESS=

# Konfigurasi Robinhood Chain
NEXT_PUBLIC_CHAIN_ID=4663
NEXT_PUBLIC_RPC_URL=https://rpc.mainnet.chain.robinhood.com
RPC_URL=https://rpc.mainnet.chain.robinhood.com

# URL Domain untuk Production
NEXT_PUBLIC_API_URL=https://ponspot.fun
NEXT_PUBLIC_SOCKET_URL=https://ponspot.fun
