# ==========================================
# KOFUKU ENVIRONMENT CONFIGURATION (kofuku.io)
# ==========================================

# Port untuk Backend Server (Express + Socket.io)
PORT=4000

# Password untuk login ke Admin Panel (/kontol)
ADMIN_PASSWORD=GantiPasswordAdminIni!

# Private Key untuk Game Server Signer (ECDSA signature otorisasi klaim hadiah on-chain)
NEXT_PUBLIC_SIGNER_ADDRESS=0x4faa00478cd6a9E7C44952CC2019385630a9F978
GAME_SERVER_SIGNER_PRIVATE_KEY=your_game_server_signer_private_key_here

# Alamat Smart Contract Token USDG (Robinhood Chain ID 4663)
NEXT_PUBLIC_CASHFLIP_TOKEN_ADDRESS=0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168
NEXT_PUBLIC_PONSPOT_TOKEN_ADDRESS=0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168
PONS_TOKEN_ADDRESS=0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168
NEXT_PUBLIC_TOKEN_SYMBOL=USDG
NEXT_PUBLIC_TOKEN_DECIMALS=6

# Alamat Smart Contract Game Escrow
NEXT_PUBLIC_GAME_CONTRACT_ADDRESS=0xa626b74Ac9CDbD22Bb6fA5e0F1e7FCce859a4834

# Konfigurasi Robinhood Chain
NEXT_PUBLIC_CHAIN_ID=4663
NEXT_PUBLIC_RPC_URL=https://rpc.mainnet.chain.robinhood.com
RPC_URL=https://rpc.mainnet.chain.robinhood.com

# URL Domain untuk Production (kofuku.io)
NEXT_PUBLIC_API_URL=https://kofuku.io
NEXT_PUBLIC_SOCKET_URL=https://kofuku.io
